body {
    background-image:url("3.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;

}
html {
	width: 960px;
    height: 1000px;
     margin-left: auto;
     margin-right: auto;

}
h1,h2{
	text-align: center;
	color:#566573
}

h3{
	text-decoration: underline;
	font-weight: bold;
	color: #C667EC;

}
.girl{
	width: 300px;
	height: 500px;
	float: left;
}

.ylink{
	font-size: 15px;
	margin-left: 750px;
	text-decoration: underline;
	color: #566573;
}
.klink{
	font-size: 20px;
	color: blue;
	font-weight: bold;
	border-radius: 25px;
    border: 4px solid black;
    padding: 10px; 
    margin-left: 700px;
    line-height: 100px;
    text-decoration: none;
}

div{
	float: left;
}