.wrapper{
	min-width: 100%;
	min-height:609px;
	background-color: black;
    background-image: url("smokerBG.png");
    background-repeat: no-repeat;
    display: inline-block;
}
.whyus{
	text-align: center;
	direction: rtl;
	margin-top: 31px;
	color: white;
}
.ximg{
	display:block;
	margin: 70px auto 0px;
}
.position{
	height: 350px;
	margin-left: auto;
	margin-right: auto;
	display: inline-block;
	overflow: hidden;
	width: 173px;
	margin-right: 55px;
}
.position img{
	width: auto;
	height: auto;

}
.pos_pic{
	background: url(hexagon.png) no-repeat top center;
	position: relative;
	height: 147px;
}
.pos_pic:hover{
		background: url(ghexagon.png) no-repeat top center;

}
.wrapbox img{
	margin:53px 33px;
}
.wrapbox{
	display: block;
	text-align: center;
	width: auto;
	margin-top: 49px;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
}
.pos_text{
	min-width: 173px;
	width: 173px;
	height: auto;
	margin-top: 42px;
	font-family: helvetica;
}
h2{
	font-weight: bold;
	color: white;
	text-align: center;
	margin-top: 42px;
	height: 54px;
}
p{
	color: white;
	text-align: center;
}