.wrapper{
	min-width: 100%;
	min-height:609px;
	background-color: black;
    background-image: url("smokerBG.png");
    background-repeat: no-repeat;
    display: inline-block;
}
.whyus{
	text-align: center;
	direction: rtl;
	margin-top: 31px;
	color: white;
}
.ximg{
	display:block;
	margin: 70px auto 0px;
}


.pos_1,.pos_2,.pos_3,.pos_4,.pos_5{
	height: 350px;
	margin-left: auto;
	margin-right: auto;
	display: inline-block;
	overflow: hidden;
	width: 173px;
	margin-right: 55px;
}
.pos_1_pic > img,.pos_2_pic > img,.pos_3_pic > img,.pos_4_pic > img,.pos_5_pic > img{
	width: auto;
	height: auto;

}

.pos_1_pic,.pos_2_pic,.pos_3_pic,.pos_4_pic,.pos_5_pic{
	background: url(hexagon.png) no-repeat top center;
	position: relative;
	height: 147px;
}
.pos_1_pic:hover,.pos_2_pic:hover,.pos_3_pic:hover,.pos_4_pic:hover,.pos_5_pic:hover{
		background: url(ghexagon.png) no-repeat top center;

}

.wrapbox img{
	margin:53px 33px;
}
.wrapbox{
	display: block;
	text-align: center;
	width: 1170px;
	margin-top: 49px;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
}
.pos_1_text,.pos_2_text,.pos_3_text,.pos_4_text,.pos_5_text{
	min-width: 173px;
	width: 173px;
	height: auto;
	margin-top: 42px;
	font-family: helvetica;
}
h2{
	font-weight: bold;
	color: white;
	text-align: center;
	margin-top: 42px;
	height: 54px;
}
p{
	color: white;
	text-align: center;
}