body {
	direction: rtl;
	font-family: Heebo, sans-serif;
    margin: 0px;
}


#warpper{
background-image: url("background.png");
background-repeat: no-repeat;
background-attachment: fixed;
background-color: black;
width: 100%;
height: auto;
min-height: 609px;
box-sizing: border-box;
overflow: hidden;

}

.xxx{
	margin: 70px auto 0px;
    display: block;
}

h2 {
    width: 100%;
    height: auto;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
    color: #ffffff; 
    text-align: center;
    margin: 31px auto 49px;
}

.frames{
    min-width: 1200px;
   /* width:100%; */
    height: auto;
    min-height: 350px;
    margin: 0px 400px 75px;
}

.frame.box{
    margin: 0px;
}

.frame {
    width: 174px;
    height: 350px;
    margin: 0px 70px 0px 0px;
    display: inline-block;
}

.img {
    background-image: url(frame.png);
    background-repeat: no-repeat;
    background-position: 50% 0%;
    height: 146px;
    position: relative;
}

.pic{
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.text {
    margin: 42px auto 0px;
    width: 174px;
    height: 163px;
}

.box.text h3 {
    margin-bottom: 35px;

}

h3 {
    color: #ffffff;
    font-size: 17px;
    font-weight: 400;
    text-align: center;

}

p {
    text-align: center;
    font-weight: 400;
    color: #9a9a9a;
}



