body {
	direction: rtl;
	background-image: url("background.png");
	background-repeat: no-repeat;
	font-family: Heebo;
	background-color: black;
	margin: 0px;
}

#warpper{
width: 100%;
height: auto;
min-height: 960px;
box-sizing: border-box;
font-family: helvetica;
overflow: hidden;

}

.xxx{
	margin: 70px auto 0px;
    display: block;
}

h2 {
    width: 100%;
    height: auto;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
    color: #ffffff; 
    text-align: center;
    margin: 31px auto 49px;
}

.frames{
    width: 100%;
    max-width: 1200px;
    height: auto;
    min-height: 350px;
    margin: auto;
}



img.box {
   width: 62px;
   height: 42px;
   position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
img.sales {
   width: 49px;
   height: 55px;
   position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

img.delivery {
   width: 59px;
   height: 39px;
   position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
img.change {
  width: 41px;
   height: 54px;
   position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;}
img.award {
   width: 47px;
   height: 50px;
   position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;}
}

p{
width: 173px;
height: 163px;
color:#a7a8a8;
font-size: 17px;
font-weight: 400;
float: left;
text-align: center;

}


 .box_text, .sales_text, .delivery_text , .change_text, .award_text{
    position: relative;
    top: 161px;
    color:#a7a8a8;
    }

.frame.box h3{
	height: 46px;
}




p{
text-align: center;
}


.frame.box,.frame.sales, .frame.delivery, .frame.change{
	margin: 0px auto 42px 105px;
}

.frame.award{
	margin: 0px auto 42px   ;

}


 .frame,.frame2, .frame3, .frame4, .frame5{
    background-image: url(frame.png);
    background-repeat: no-repeat;
    background-position: 50% 0%;
    width: 13%;
    height: auto;
    margin: auto;
    float: right;
}


h3{
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
   
}



.frame {
    background-image: url(frame.png);
    background-repeat: no-repeat;
    background-position: 50% 0%;
    display: inline-block;
    position: relative;
    height: 146px;
    min-width: 125px;
    margin: 49px auto 42px;
}

.frame:hover{
	 background-image: url(hover.png);

}



